In [12]:
import pandas as pd

In [13]:
data = pd.read_csv('data/fashion.csv')
data

,ProductId,Gender,Category,SubCategory,ProductType,Colour,Usage,ProductTitle,Image,ImageURL
0,42419,Girls,Apparel,Topwear,Tops,White,Casual,Gini and Jony Girls Knit White Top,42419.jpg,http://assets.myntassets.com/v1/images/style/p...
1,34009,Girls,Apparel,Topwear,Tops,Black,Casual,Gini and Jony Girls Black Top,34009.jpg,http://assets.myntassets.com/v1/images/style/p...
2,40143,Girls,Apparel,Topwear,Tops,Blue,Casual,Gini and Jony Girls Pretty Blossom Blue Top,40143.jpg,http://assets.myntassets.com/v1/images/style/p...
3,23623,Girls,Apparel,Topwear,Tops,Pink,Casual,Doodle Kids Girls Pink I love Shopping Top,23623.jpg,http://assets.myntassets.com/v1/images/style/p...
4,47154,Girls,Apparel,Bottomwear,Capris,Black,Casual,Gini and Jony Girls Black Capris,47154.jpg,http://assets.myntassets.com/v1/images/style/p...
...,...,...,...,...,...,...,...,...,...,...
2901,51755,Women,Footwear,Shoes,Casual Shoes,Black,Casual,Catwalk Women Black Shoes,51755.jpg,http://assets.myntassets.com/v1/images/style/p...
2902,47630,Women,Footwear,Shoes,Flats,Blue,Casual,Carlton London Women Blue Shoes,47630.jpg,http://assets.myntassets.com/v1/images/style/p...
2903,32836,Women,Footwear,Shoes,Flats,Pink,Casual,Grendha Women Flori Pink Sandals,32836.jpg,http://assets.myntassets.com/v1/images/style/p...
2904,35821,Women,Footwear,Shoes,Heels,Black,Casual,Enroute Women Black Heels,35821.jpg,http://assets.myntassets.com/v1/images/style/p...
2905,18553,Women,Footwear,Shoes,Heels,Blue,Casual,Catwalk Women Mary Janes Blue Flats,18553.jpg,http://assets.myntassets.com/v1/images/style/p...

In [14]:
for col in data.columns:
    print(f"{col}: {data[col].nunique()} unique values")

ProductId: 2906 unique values
Gender: 4 unique values
Category: 2 unique values
SubCategory: 9 unique values
ProductType: 31 unique values
Colour: 39 unique values
Usage: 6 unique values
ProductTitle: 2174 unique values
Image: 2906 unique values
ImageURL: 2906 unique values

In [15]:
print(data["SubCategory"].unique())
print(data["ProductType"].unique())
print(data["Usage"].unique())

['Topwear' 'Bottomwear' 'Dress' 'Innerwear' 'Socks' 'Apparel Set' 'Shoes'
 'Flip Flops' 'Sandal']
['Tops' 'Capris' 'Dresses' 'Shorts' 'Tshirts' 'Skirts' 'Jeans' 'Leggings'
 'Innerwear Vests' 'Rompers' 'Lehenga Choli' 'Salwar' 'Booties'
 'Clothing Set' 'Trousers' 'Shirts' 'Jackets' 'Kurtas' 'Sweatshirts'
 'Kurta Sets' 'Churidar' 'Waistcoat' 'Blazers' 'Casual Shoes' 'Flip Flops'
 'Sandals' 'Formal Shoes' 'Sports Shoes' 'Sports Sandals' 'Flats' 'Heels']
['Casual' 'Ethnic' 'Sports' 'Formal' 'Smart Casual' 'Party']

In [16]:
import pandas as pd
import os

IMAGE_DIR = "data/images"  

df = data
def norm_text(x):
    if pd.isna(x):
        return x
    return str(x).strip().lower()

for col in [
    "Gender",
    "Category",
    "SubCategory",
    "ProductType",
    "Colour",
    "Usage"
]:
    df[col] = df[col].apply(norm_text)

df["ProductTitle"] = df["ProductTitle"].apply(lambda x: str(x).strip())
df["image_path"] = df["Image"].apply(lambda x: os.path.join(IMAGE_DIR, str(x)))

df = df.rename(columns={
    "ProductId": "product_id",
    "Gender": "gender",
    "Category": "category",
    "SubCategory": "sub_category",
    "ProductType": "product_type",
    "Colour": "colour",
    "Usage": "usage",
    "ProductTitle": "title",
    "ImageURL": "image_url"
})
df.drop(columns=["Image"], inplace=True)
df["product_type"] = df["product_type"].apply(lambda x: x.split()[-1])
df.to_csv("metadata_preprocessed.csv", index=False)
df

,product_id,gender,category,sub_category,product_type,colour,usage,title,image_url,image_path
0,42419,girls,apparel,topwear,tops,white,casual,Gini and Jony Girls Knit White Top,http://assets.myntassets.com/v1/images/style/p...,data/images/42419.jpg
1,34009,girls,apparel,topwear,tops,black,casual,Gini and Jony Girls Black Top,http://assets.myntassets.com/v1/images/style/p...,data/images/34009.jpg
2,40143,girls,apparel,topwear,tops,blue,casual,Gini and Jony Girls Pretty Blossom Blue Top,http://assets.myntassets.com/v1/images/style/p...,data/images/40143.jpg
3,23623,girls,apparel,topwear,tops,pink,casual,Doodle Kids Girls Pink I love Shopping Top,http://assets.myntassets.com/v1/images/style/p...,data/images/23623.jpg
4,47154,girls,apparel,bottomwear,capris,black,casual,Gini and Jony Girls Black Capris,http://assets.myntassets.com/v1/images/style/p...,data/images/47154.jpg
...,...,...,...,...,...,...,...,...,...,...
2901,51755,women,footwear,shoes,shoes,black,casual,Catwalk Women Black Shoes,http://assets.myntassets.com/v1/images/style/p...,data/images/51755.jpg
2902,47630,women,footwear,shoes,flats,blue,casual,Carlton London Women Blue Shoes,http://assets.myntassets.com/v1/images/style/p...,data/images/47630.jpg
2903,32836,women,footwear,shoes,flats,pink,casual,Grendha Women Flori Pink Sandals,http://assets.myntassets.com/v1/images/style/p...,data/images/32836.jpg
2904,35821,women,footwear,shoes,heels,black,casual,Enroute Women Black Heels,http://assets.myntassets.com/v1/images/style/p...,data/images/35821.jpg
2905,18553,women,footwear,shoes,heels,blue,casual,Catwalk Women Mary Janes Blue Flats,http://assets.myntassets.com/v1/images/style/p...,data/images/18553.jpg